<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola Esteban,</h1>
    <p>
      Este correo es para avisarte que <%#= @user.login %> acaba de postular a la oferta<br>
laboral de <%#= @offer.name %>
    </p>
    <p>Muchas gracias!!</p>
  </body>
</html>
