<p style="color: green"><%= notice %></p>
  <h2>Sistema de Ofertas Laborales de la Empresa</h2>
  <p> Si quieres participar, solicita a Esteban@vtr.net</p>
  <p>que te registre y asi podras postular a nuevos empleos</p><br><br>


  <h4>Informacion complementaria</h4>
  <%= link_to(image_tag('Modelado.png', width: "300px"), 'Modelado.png') %>
<ul>
<li><p> Las claves de todos los usuarios son "Peyo2023"</p></li>
<li><p> El administrador es Esteban "esteban@vtr.net"</p></li>
<li><p> Los usuarios normales agregados son alfonso, alberto y angelica con correos en dominio "vtr.net"</p></li>
<li><p> Los mails de postulacion son enviados a un correo "fake" de gmail. Se puede cambiar</p></li>
<li><p> El resultado de las pruebas unitarios del controlador Offer (Ofertas Laborales) se </p></li>
<p> encuentran en el directorio raiz como "resultado_test_unitario.txt" </p>
</ul>
